In [1]:
!ls

Untitled.ipynb      Untitled1.ipynb     hackathon_20mil.csv hackathon_20mil.zip

In [3]:
import pandas as pd
import numpy as np
%matplotlib inline

In [4]:
data = pd.read_csv("./hackathon_20mil.csv", sep=";")

In [67]:
data.head(5)

    RUNID  LINENO  COUNT
0  130264    1697      0
1  130264    1700      0
2  130264    1702      0
3  130264    1704      0
4  130264    1705      0

delete columns

In [68]:
# data.drop(data.columns[[1]], axis=1, inplace=True)

In [48]:
def write(f, line):
    f.write(str(line) + '\n')
def to_file(path, data):
    """
        creates file at path
        format:
        -----
        n
        k1 RUNID1 
        a11 a12 a13 ... a1(k1)
        ...
        kn RUNIDn
        an1 an2 an3 ... an(kn)
        -----
        where 
            n = number of RUNID
            ai = line with LINENO at RUNIDi
    """
    data
    with open(path, "w") as f:
        diff_ids = data["RUNID"].unique()
        write(f, len(diff_ids)) # n
        for runid in diff_ids:
            lineno = data[data["RUNID"] == runid]
            lineno = lineno[lineno["COUNT"] != 0]
            lineno = lineno["LINENO"]
            str_cur = list(map(str, sorted(np.unique(lineno))))
            write(f, str(len(str_cur)) + ' ' + str(runid))
            write(f, " ".join(str_cur))

In [56]:
to_file("./tests/test1.txt", data)

In [57]:
!du -sh tests/*

5.5M	tests/test1.txt

In [54]:
!wc -l tests/test1.txt

      13 tests/test1.txt

In [71]:
!pwd

/Users/istar/Desktop/hack